<html>
    <head>
        <title>{% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="static/css/style.css" />
    </head>
    <body>
        <div>
            <div id="header">{% block header %}{% endblock header %}</div>
            <div id="content">
                <div id="leftbar">
                    <ul id="menubar">
                        <li><a href="home">Home</a></li>
                        <li><a href="about">about</a></li>
                        <li><a href="contact">contact</a></li>
                        <li><a href="register">register</a></li>

                    </ul>
                    <div>
                        {% block pagecontent %}{% endblock pagecontent %}
                    </div>

                </div>
                <div id="rightbar">
                    <form action="loginuser" method="post">
                        {% csrf_token %}
                    <center><fieldset id="loginbar">
                        <legend>LOGIN</legend>
                        <table border="1">
                            <tr>
                                <th>E-mail</th>
                                <td><input type="text"  name="email" required /></td>
                            </tr>
                            <tr>
                                <th>Password</th>
                                <td><input type="password" name="password" required /></td>
                            </tr>
                            <tr>
                                
                                <td colspan="2"><center><input type="submit" value="LOGIN" /></center></td>
                            </tr>
                        </table>
                    </fieldset> </center>
                </form>
                </div>
            </div>
            <div id="footer">{% block footer %}{% endblock footer %} </div>
        </div>
        
    </body>
</html>